<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>
    <conversionRule conversionWord="traceID" converterClass="kamon.instrumentation.logback.tools.TraceIDConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{{ .Values.logback.pattern }}</pattern>
        </encoder>
    </appender>
    {{- range .Values.logback.loggers }}
    <logger name="{{ .name }}" level="{{ .level | upper }}">
        <appender-ref ref="STDOUT"/>
    </logger>
    {{- end }}
</configuration>