name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: runs-on=${{ github.run_id }}/runner=evertrust
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: helm
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}

  release:
    runs-on: runs-on=${{ github.run_id }}/runner=evertrust
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.19.3

      - name: Build chart
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependencies build
          helm package .

      - name: Upload to Sonatype repo
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          PACKAGE="$(find . -type f -name 'stream-*.tgz' -maxdepth 1 | head -n 1)"
          curl -F file=@$PACKAGE --user "$NEXUS_USERNAME:$NEXUS_PASSWORD" --fail https://repo.evertrust.io/service/rest/v1/components?repository=charts
