name: Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: runs-on=${{ github.run_id }}/runner=evertrust
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.19.3

      - name: Test chart
        run: make test
